.logo{
 display: flex;
 justify-content: space-between;
}
.boby{
 background-image: url(https://cdn.discordapp.com/attachments/1118151011962470470/1122787823683113032/fond_background_fil_rouge.jpg);
 color: white;
 font-family: 'Roboto', sans-serif;
}
.connexionco{
 display: flex;
 justify-content: center;

}
.mdpoubliée {
 display: flex;
 text-decoration: none;
}
.main{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
}
a {
 outline: none;
 text-decoration: none;
 color: white;
}

#connexionco{

 border-radius: 30px; 
 border: 1px solid #000;
}